<form [formGroup]="resetForm" (ngSubmit)="submitDetails()">
    <p-card header="Reset Password" [style]="{width: '360px'}">
        <div class="field">
            <label for="newPass">New Password</label>
            <input type="password"
                name="newPass"
                placeholder="Type your New Password"
                class="w-full"
                pInputText
                formControlName="newPass"
            >
            <small *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)"
                    class="block p-error"
            >
                <div *ngIf="newPass.errors?.['required']">Password is required</div>
                <div *ngIf="newPass.errors?.['minlength']">Password must have at least 6 characters</div>
            </small>
        </div>
        <div class="field">
            <label for="confirmPass">Confirm Password</label>
            <input type="password"
                name="confirmPass"
                placeholder="Confirm your Password"
                class="w-full"
                pInputText
                formControlName="confirmPass"
            >
            <small *ngIf="confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)"
                class="block p-error"
            >
                <div *ngIf="confirmPass.errors?.['required']">You must confirm your password</div>
                <div *ngIf="confirmPass.errors?.['minlength']">Password must have at least 6 characters</div>
            </small>
            <small *ngIf="resetForm.errors?.['passwordMismatch'] && newPass.valid && confirmPass.valid"
                class="block p-error"
            >
                Passwords should match
            </small>
        </div>
        <p-button
            label="Reset Password"
            styleClass="w-full"
            type="submit"
            [disabled]="resetForm.invalid"
        ></p-button>
        <div class="text-center mt-5">Remember your credentials? <a routerLink="/login">Login</a></div>
        <div class="text-center mt-2">Not yet a member? <a routerLink="/register">Register</a></div>
    </p-card>
</form>