<form [formGroup]="forgotForm" (ngSubmit)="submitDetails()">
    <p-card header="Forgot Password" [style]="{width: '360px'}">
        <div class="field">
            <label for="email">Email</label>
            <input type="email"
                name="email"
                placeholder="Type your Email"
                class="w-full"
                pInputText
                formControlName="email"
            >
            <small
                *ngIf="email.invalid && (email.dirty || email.touched)"
                class="block p-error"
            >
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['email']">Enter a valid Email</div>
            </small>
        </div>
        <p-button
            label="Confirm Email"
            styleClass="w-full"
            type="submit"
            [disabled]="forgotForm.invalid"
        ></p-button>
        <div class="text-center mt-5">Remember your credentials? <a routerLink="/login">Login</a></div>
        <div class="text-center mt-2">Not yet a member? <a routerLink="/register">Register</a></div>
    </p-card>
</form>